.table-genarate-wrap {
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
}

.table-container {
    width: 100%;
    background: $color-white;
    overflow: scroll;
    // box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    max-width: rem(1350px);
    width: 96%;
    margin-top: 180px;
    height: 100%;
}

.textarea {
    width: 100%;
    display: none;
}

#copy {
    display: none;
}

td,
th {
    padding: 10px 4px;
}